.header {
  height: 154px;
  padding: 48px 38px;
  display: flex;
}

.nav {
  display: flex;
  max-width: 883px;
  gap: 38px;
}

.tab {
  font-family: "Proxima Nova", sans-serif;
  flex-shrink: 0;
  font-weight: 600;
}
