.card {
  background-color: #FFFFFF;
  border-radius: 32px;
  padding: 32px;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.heading {
  color: #2D4258;
  font-size: 20px;
  font-weight: 700;
}
