.card {
  background-color: #FFFFFF;
  border-radius: 32px;
  padding: 33px;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.heading {
  color: #2D4258;
  font-size: 20px;
  font-weight: 700;
}

.periods {
  height: 34px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.legendContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
