.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 268px;
  height: 168px;
  background-color: #FFFFFF;
  border-radius: 24px;
  font-weight: 600;
  font-size: 16px;
  padding: 32px;
  transition: background-color 0.3s ease;

  &.success {
    background-color: rgb(84, 211, 194);
    color: #FFFFFF;
  }

  &.danger {
    background-color: rgba(252, 92, 101);
    color: #FFFFFF;
  }

  &.buttonSuccess {
    &:hover {
      background-color: rgb(84, 211, 194, 0.05)
    }

    &:active {
      background-color: rgb(84, 211, 194, 0.1)
    }
  }

  &.buttonDanger {
    &:hover {
      background-color: rgb(252, 92, 101, 0.05)
    }

    &:active {
      background-color: rgb(252, 92, 101, 0.1)
    }
  }
}

.pill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 4px;
  width: 144px;
  height: 36px;
  border-radius: 24px;

  &.success {
    background-color: rgb(84, 211, 194, 0.15);
    color: rgb(84, 211, 194);
  }

  &.danger {
    background-color: rgb(252, 92, 101, 0.15);
    color: rgba(252, 92, 101);
  }

  &.total {
    background-color: rgba(248, 248, 248, 0.25);
    color: #FFFFFF;
  }
}

.amount {
  margin-top: 20px;
  font-size: 28px;
}

.division {
  margin-top: 12px;
}
